/** leads **/
.leads-container{
    margin: 0 -10px;
}

.lead-stage{
    display: inline-block;
    width: 20%;
    float: left;
    padding: 10px;
    min-height: 70vh;
}

.lead-stage .lead-stage-header{
    background: #fff;
    padding: 3px 15px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    margin-bottom: 4px;
}

.lead-stage.open .lead-stage-header{border-top: 2px solid #ebebeb;}
.lead-stage.assigned .lead-stage-header{border-top: 2px solid #cccccc;}
.lead-stage.inContact .lead-stage-header{border-top: 2px solid #b7b7b7;}
.lead-stage.qouted .lead-stage-header{border-top: 2px solid #a1a1a1;}
.lead-stage.closed .lead-stage-header{border-top: 2px solid #898989;}

.lead-stage-header h4{
    display: inline-block;
    font-size: 14px;
    margin: 10px 0;
    color: #565a65;
}

.lead-stage-header a{
    float: right;
}

.lead{
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    margin: 10px 0;
    cursor: move;
    transition: all 0.4s;
}

.lead:hover{
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.1);

    -webkit-transform: translate(0px,-3px);
    -moz-transform: translate(0px,-3px);
    -ms-transform: translate(0px,-3px);
    -o-transform: translate(0px,-3px);
    transform: translate(0px,-3px);
}

.lead-header{
    padding: 10px;
}

.lead-footer{
    padding: 5px 10px;
    background: #f6f6f6;
}

.lead-footer span{
    color: #a5a9b2;
    font-size: 12px;
    margin-top: 4px;
    font-weight: normal;
}

.lead .lead-store{
    font-size: 13px;
}

.lead h5{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-right: 30px;
    margin: 4px 0 0;
    color: #565a65;
}

.lead-resolution{
    background: #5cb85c;
    color: #fff !important;
    padding: 0 3px;
    border-radius: 3px;
    margin-left: 5px;
}

.lead-btn{
    color: #a5a9b2;
    font-size: 16px;
}

.lead-btn span{
    transform: rotate(-45deg);
}

.lead-form{
    background: #fff;
    padding: 20px 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    margin-top: 10px;
}

.lead-form>div{
    padding: 0 20px;
}

.lead-form .form-horizontal .control-label{
    font-weight: normal;
    text-align: left;
}

.lead-form .form-footer{
    text-align: center;
    padding: 15px 10px 0;
    border-top: 1px solid #Eee;
}

ul.lead-stage-buttons {
    margin-bottom: 15px;
    padding-top: 20px;
    clear: both;
}

ul.lead-stage-buttons li {
    background: #212020;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    width: 19.5%;
    margin: 0;
    text-indent: 10px;
    text-align: center;
    position: relative;
}

ul.lead-stage-buttons li:before {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    left: -1px;
    border-style: solid;
    border-width: 17px 0 17px 15px;
    border-color: transparent transparent transparent #fff;
    z-index: 0;
}

ul.lead-stage-buttons li:first-child:before {
    border-color: transparent;
}

ul.lead-stage-buttons li a:after {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    right: -15px;
    border-style: solid;
    border-width: 17px 0 17px 15px;
    border-color: transparent transparent transparent #212020;
    z-index: 10;

}

ul.lead-stage-buttons li:last-child a:after{
    border-left-color: transparent !important;
}

ul.lead-stage-buttons li.active a {
    background: #212020;
    color: #fff;
    z-index: 100;
}

ul.lead-stage-buttons li.active ~ li a {
    display: block;
    background: #ebebeb;
    color: #b1b1b1;
}

ul.lead-stage-buttons li.active a:after {
    border-left-color: #212020;
    color: #fff;
}

ul.lead-stage-buttons li.active ~ li a:after{
    border-color: transparent transparent transparent #ebebeb;
}

ul.lead-stage-buttons li a {
    background: #212020;
    color: #fff;
    z-index: 100;
}

.addNewLead{
    background: #ec1b23;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    color: #fff;
}

.addNewLead:hover{
    color: #fff;
    background: #ec1b23;
    opacity: 0.9;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}

.notes .notes-buttons{
    padding: 10px;
    border: 1px solid #ccc;
}

.notes .notes-buttons li{
    display: inline-block;
    padding: 0 10px;
}

.notes .notes-buttons li a{
    color: #333;
}

.notes .notes-buttons li a:hover{
    text-decoration: none;
}

.notes .notes-buttons li.active::after{
    content: '';
    position: absolute;
    left: 60px;
    width: 11px;
    height: 11px;
    margin-top: 5px;
    background-color: #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 6;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.notes .notes-container{
    height: 115px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    margin-top: -11px;
}

.notes .notes-container textarea{
    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.history-container{
    text-align: center;
    margin-top: 30px;
}

.history-container .divider{
    padding: 3px 40px;
    border: 1px solid #eee;
    border-radius: 40px;
    color: #999;
    width: 130px;
    margin: 0 auto 14px;
}

.history-item{
    clear: both;
    padding: 15px 0;
    text-align: left;
}

.history-item-marker{
    margin-left: -6px;
    margin-right: 6px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.25);
}

.history-details{
    border: 1px solid #eee;
    margin-left: 15px;
    margin-top: -20px;
    padding: 10px;
}

#closeLead .modal-body{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

#closeLead .btn{
    width: 50%;
    margin: 10px -1px;
}

.leads-table{
    margin-top: 15px;
    padding: 15px 25px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}

.leads-table table{
    margin-top: 10px;
}

.non-editable{
    border: none;
    background: transparent;
    box-shadow: none;
    padding: 0;
    cursor: default;
    font-size: 15px;
    color: #333;
}

.non-editable:focus{
    outline: none;
    box-shadow: none;
}

.inner-panel{
    background: #fff;
    padding: 20px 25px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
    margin-top: 10px;
}

.inner-panel h3{
    margin-top: 5px;
}

label.control-label{
    text-transform: uppercase;
    color: #9a9b9c;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 0;
}

.lead-info-header{
    text-align: center;
    margin-bottom:40px;
}

.lead-info-header .resolution-stat{
    padding: 4px 30px;
    background: #f3f3f3;
    border-radius: 4px;
    color: #bbb;
    margin: 0 2px;
}

.form-group{
    margin-bottom: 0;
    margin-top: 15px;
}

.history-item .type{
    margin-right: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 4px 8px;
    color: #fff;
}

.history-item .type.notif{
    background: #aa46bc;
}

.history-item .type.assign{
    background: #92989e;
}

.history-item .type.email{
    background: #26a59a;
}

.history-item .edited{
    background: #ef3c79;
}

.history-item .edited{
    background: #ef3c79;
}

.history-item .notes{
    background: #265a88;
    padding: 5px 9px;
}

.history-item .info{
    display: inline-block;
}

.history-item .date-time{
    font-size: 12px;
    line-height: 24px;
    color: #ddd;
    float: right;
}

.history-item .content{
    margin-left: 38px;
    padding: 10px 0 0;
    color: #999;
    font-size: 13px;
}

.history-container .history-item:nth-child(odd){
    background: #ffffff;
}

.history-container .history-item:nth-child(even){
    background: #f9fafa;
}
