/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ZOOP STYLES START HERE */

html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    background: #fbfbfb;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

a, a:hover{
    color: #ddd;
    text-shadow: none !important;
}

a:focus, a:hover{
    color: #eee;
}

.container{
    min-height: 100%;
}

#logo{
    margin-left: 4%;
    float: left;
    margin-bottom: 10px;
}

.user-info{
    color: #fff;
    margin-right: 4%;
    margin-top: 20px;
    float: right;
}

.gc-menu{
    background: #000;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 1%;
}

.gc-menu .navbar-nav>li>a{
    color: #fff;   
}

.main-container{
    width: 93.5%;
    margin: 0 auto;
}

.breadcrumb{
    background: transparent;
    padding: 0;
    margin-top: -7px;
    margin-bottom: 0;
    color: #333;
    font-size: 13px;
}

.breadcrumb a{
    font-weight: bold;
    color: #333;
}

.universe {
    height: 100%;
}

.navbar{
    background: #2c2e33;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.06);
}

.navbar-brand{
    margin-left: 0 !important;
    padding: 0;
}

.nav>li>a:focus, .nav>li>a:hover{
    font-weight: 700;
    background-color: transparent;
}

.navbar-nav>li{
    font-size: 13px;
}

.navbar-nav .dropdown-toggle{
    padding: 15px 0;
}

.content {
    margin: auto;
}

.panel{
    background: transparent;
    padding: 10px 15px;
    box-shadow: none;
}

.panel-header{
    width: 100%;
    height: 60px;
    background: #222327;
    z-index: 999;
}

.panel-title{
    float: left;
}

.panel-title h3{
    color: #fff;
}

.panel-actions{
    float: right;
    margin-top: 15px;
}

.panel-content{
    margin-top: 10px;
}

.btn-transparent{
    background: transparent;
    color: #ccc;
    padding: 2px 5px;
    margin-top: 15px;
    font-size: 16px;
}

.action-plan-collapse{
    width: 30%;
    float: left;
}

#action-plan-window{
    border: 1px solid #eee;
    height: 350px;
}

#action-plan-window .input-group{
    float: left;
    padding-right: 5px;
    margin-top: 10px;
}

.coaches{
    height: 350px;
    border-left: 1px solid #eee;
    padding: 10px;
}

.status{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
}

.status.open{
    background: #00a5f5;
}

[ng-click] {
    cursor: pointer;
}

.btn-default{
    background: #fff;
}

.btn-primary{
    background: #265a88;
}

.btn-default, .btn-primary, .btn-danger, .btn-success, .btn-warning{
    background-image: none !important;
    box-shadow: none !important;
}

.btn-default:focus, .btn-default:hover{
    background-color: transparent !important;
}

.center{
    text-align: center;
}

@media (min-width: 1366px){
    .container {
        width: 1230px;
    }
}

.date-picker{
    display: inline-block;
    width: 200px;
    height: 30px;
    margin-right: 4px;
}

/** datatables **/

table.dataTable, table.dataTable.no-footer{
    display: block;
    overflow-x: auto;
}

table.dataTable .dataTables_length{
    margin: 5px 0;
}

table.dataTable .dataTables_filter{
    margin-right: 0;
}

table.dataTabl .dataTables_wrapper .dataTables_info{
    margin-left: 0;
}