<div class="clearfix lead-form" style="display:none;">
    <div class="col-md-5">
        <h5>Lead Information</h5>

        <form class="form-horizontal" name="leadform">
            <div class="form-group">
                <label class="col-sm-4 control-label">Title</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="activeActionPlan.title" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Sales representative</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="activeActionPlan.salesRep">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Phone number</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="activeActionPlan.phone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" ng-model="activeActionPlan.email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Company name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="activeActionPlan.company">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Description</label>
                <div class="col-sm-8">
                    <textarea rows="3" class="form-control" ng-model="activeActionPlan.desc"></textarea>
                </div>
            </div>
        </form>

        <h5>Lead Source</h5>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Associate name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="activeActionPlan.assoc">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Store</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="activeActionPlan.store">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Sales person ID</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" ng-model="activeActionPlan.salesID">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Source</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="activeActionPlan.source">
                </div>
            </div>
        </form>

        <br />

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4"><button class="btn btn-default pull-right">Assign to</button></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4"><button class="btn btn-default pull-right">CC</button></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button class="btn btn-default">Send mail</button>
                    <button class="btn btn-default">Nudge</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-7">
        <h5 class="pull-right">Revenue: $ <span ng-bind="activeActionPlan.revenue"></span></h5>

        <ul class="lead-stage-buttons">
            <li ng-click="stage($event)" ng-class="{active: activeActionPlan.status == 'open'}"><a href="#">Open</a></li>
            <li ng-click="stage($event)" ng-class="{active: activeActionPlan.status == 'assigned'}"><a href="#">Assigned</a></li>
            <li ng-click="stage($event)" ng-class="{active: activeActionPlan.status == 'inContact'}"><a href="#">In Contact</a></li>
            <li ng-click="stage($event)" ng-class="{active: activeActionPlan.status == 'qouted'}"><a href="#">Qouted</a></li>
            <li ng-click="stage($event); closeLead()" ng-class="{active: activeActionPlan.status == 'closed'}"><a href="#">Closed</a></li>
        </ul>

        <div class="notes">
            <ul class="notes-buttons">
                <li class="active">
                    <a href=""><i class="fa fa-sticky-note"></i> Add notes</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-paperclip"></i> Attach file</a>
                </li>
            </ul>

            <div class="notes-container">
                <textarea rows="9" type="text" class="form-control" ng-model="activeActionPlan.newHistory.content"></textarea>
                <div class="file-upload"></div>
            </div>
           <button type="submit" class="btn btn-primary" ng-click="hist.add(activeActionPlan.history, activeActionPlan.newHistory)">Add</button>
        </div>

        <div class="history-container">
            <span class="divider">History</span>

            <div class="history-item" ng-repeat="h in activeActionPlan.history">
                <span class="fa fa-circle history-item-marker"></span>
                <div class="history-details">
                    <p>{{h.content}}</p>

                    <small>Posted by {{h.by}} on {{h.postDate}} at {{h.postTime}}</small>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="form-footer">
        <button class="btn btn-primary" ng-click="actionPlan.add(activeActionPlan)" ng-submit="leadform.$invalid">Submit</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="inner-panel lead-info">
            <div class="lead-info-header">
                <h2>Ticket #12345</h2>
                <p>Revenue: $</p>

                <span class="resolution-stat">Ticketed</span>
                <span class="resolution-stat">Lost</span>
            </div>
            <form>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input type="text" class="form-control non-editable" ng-model="activeActionPlan.title" required>
                </div>
                <div class="form-group">
                    <label class="control-label">Sales representative</label>
                    <input type="text" class="form-control non-editable" ng-model="activeActionPlan.salesRep">
                </div>
                <div class="form-group">
                    <label class="control-label">Phone number</label>
                    <input type="text" class="form-control non-editable" ng-model="activeActionPlan.phone">
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="email" class="form-control non-editable" ng-model="activeActionPlan.email">
                </div>
                <div class="form-group">
                    <label class="control-label">Company name</label>
                    <input type="text" class="form-control non-editable" ng-model="activeActionPlan.company">
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea rows="3" class="form-control non-editable" ng-model="activeActionPlan.desc"></textarea>
                </div>
            </form>
        </div>

        <div class="inner-panel lead-source">
            <h4>Lead Source</h4>
            <form>
                <div class="form-group">
                    <label class="control-label">Associate name</label>
                    <input type="text" class="form-control non-editable" ng-model="activeActionPlan.assoc">
                </div>
                <div class="form-group">
                    <label class="control-label">Store</label>
                    <input type="text" class="form-control non-editable" ng-model="activeActionPlan.store">
                </div>
                <div class="form-group">
                    <label class="control-label">Sales person ID</label>
                    <input type="email" class="form-control non-editable" ng-model="activeActionPlan.salesID">
                </div>
                <div class="form-group">
                    <label class="control-label">Source</label>
                    <input type="text" class="form-control non-editable" ng-model="activeActionPlan.source">
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="inner-panel">
            <ul class="lead-stage-buttons">
                <li ng-click="stage($event)" ng-class="{active: activeActionPlan.status == 'open'}"><a href="#">Open</a></li>
                <li ng-click="stage($event)" ng-class="{active: activeActionPlan.status == 'assigned'}"><a href="#">Assigned</a></li>
                <li ng-click="stage($event)" ng-class="{active: activeActionPlan.status == 'inContact'}"><a href="#">In Contact</a></li>
                <li ng-click="stage($event)" ng-class="{active: activeActionPlan.status == 'qouted'}"><a href="#">Qouted</a></li>
                <li ng-click="stage($event); closeLead()" ng-class="{active: activeActionPlan.status == 'closed'}"><a href="#">Closed</a></li>
            </ul>

            <div class="notes">
                <ul class="notes-buttons">
                    <li class="active">
                        <a href=""><i class="fa fa-sticky-note"></i> Add notes</a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-paperclip"></i> Attach file</a>
                    </li>
                </ul>

                <div class="notes-container">
                    <textarea rows="5" type="text" class="form-control" ng-model="activeActionPlan.newHistory.content"></textarea>
                    <div class="file-upload"></div>
                </div>
               <button type="submit" class="btn btn-primary" ng-click="hist.add(activeActionPlan.history, activeActionPlan.newHistory)">Add</button>
            </div>

            <div class="history-container">
                <p class="divider">History</p>

<!--                 <div class="history-item clearfix" ng-repeat="h in activeActionPlan.history">
                    <div class="col-sm-9">
                        <div class="type notes"><i class="fa fa-sticky-note"></i></div>
                        <div class="info">Note posted by {{h.by}}</div>
                        <div class="content">
                            <ul>
                                <li>{{h.content}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="date-time">{{h.postDate}} at {{h.postTime}}</div>
                    </div>
                </div>
 -->
                <div class="history-item clearfix">
                    <div class="col-sm-9">
                        <div class="type edited"><i class="fa fa-pencil"></i></div>
                        <div class="info">Lead information updated by <strong>Mark</strong></div>
                        <div class="content">
                            <ul>
                                <li>Phone number was changed to (661-871-4496)</li>
                                <li>Email was changed to martingranados777@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="date-time">10/06/2016 at 8:00 AM</div>
                    </div>
                </div>

                <div class="history-item clearfix">
                    <div class="col-sm-9">
                        <div class="type email"><i class="fa fa-envelope"></i></div>
                        <div class="info">Email sent to <strong>Mark, Maria, Alex</strong> from <strong>John Doe</strong></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="date-time">10/05/2016 at 10:12 aM</div>
                    </div>
                </div>

                <div class="history-item clearfix">
                    <div class="col-sm-9">
                        <div class="type assign"><i class="fa fa-user-plus"></i></div>
                        <div class="info">Assigned to <strong>Mark</strong></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="date-time">10/05/2016 at 10:12 AM</div>
                    </div>
                </div>

                <div class="history-item clearfix">
                    <div class="col-sm-9">
                        <div class="type notif"><i class="fa fa-bell"></i></div>
                        <div class="info">Lead created by <strong>John Doe</strong></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="date-time">10/01/2016 at 6:02 PM</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

