<div class="panel-header" ng-controller="mainController as vm">
    <div class="container">
        <div class="panel-title">
            <h3>Leads</h3>
        </div>

        <div class="panel-actions">
            <input date-range-picker class="form-control date-picker" type="text" ng-model="date" options="options"/>
            <button class="btn btn-default btn-sm pull-right"><i class="fa fa-filter"></i> Deep dive</button>
        </div>
    </div>
</div>

<div class="panel clearfix container">
    <div class="pull-left">
        <button class="btn btn-transparent" ng-click="tableView=false; showForm=false"><i class="fa fa-th"></i></button>
        <button class="btn btn-transparent" ng-click="tableView=true; showForm=false"><i class="fa fa-list"></i></button>
        <button class="btn btn-transparent"><i class="fa fa-download"></i></button>
    </div>

    <div class="pull-right">
        <button class="btn addNewLead" ng-click="createActionPlan()"><span class="fa fa-plus"></span></button>
    </div>

    <div class="clearfix"></div>

    <div ng-show="!showForm && !tableView">
        <div class="leads-container">
            <div class="lead-stage open" data-drop="true" ng-model='open' jqyoui-droppable="{multiple:true}">
                <div class="lead-stage-header">
                    <h4>Open <small> {{open.length}} Leads</small></h4>
                </div>
                <div class="caption">
                    <div class="lead" ng-repeat="item in open" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="open" jqyoui-draggable="{index: {{$index}},animate:true}" >
                        <div class="lead-header">
                            <h5>{{item.title}}</h5>
                            <span class="lead-store"><i class="fa fa-map-marker"></i> {{item.store}}</span>
                        </div>
                        <div class="clearfix lead-footer">
                            <a class="lead-btn pull-left" href="" ng-click="editActionPlan(item.id)"><i class="fa fa-dot-circle-o"></i></a>
                            <span class="lead-age pull-right">{{item.ellapsed}} days ago</span>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="lead-stage assigned" data-drop="true" ng-model='assigned' jqyoui-droppable="{multiple:true, onDrop:'updateLead(item)'}">
                <div class="lead-stage-header">
                    <h4>Assigned <small>{{assigned.length}} Leads</small></h4>
                </div>
                <div class="caption">
                    <div class="lead" ng-repeat="item in assigned" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="assigned" jqyoui-draggable="{index: {{$index}},animate:true}">
                        <div class="lead-header">
                            <h5>{{item.title}}</h5>
                            <span class="lead-store"><i class="fa fa-map-marker"></i> {{item.store}}</span>
                        </div>
                        <div class="clearfix lead-footer">
                            <a class="lead-btn pull-left" href="" ng-click="editActionPlan(item.id)"><i class="fa fa-dot-circle-o"></i></a>
                            <span class="lead-age pull-right">{{item.ellapsed}} days ago</span>
                        </div>
                    </div>
                </div>
            </div>
       
                  
            <div class="lead-stage inContact" data-drop="true" ng-model='inContact' jqyoui-droppable="{multiple:true}">
                <div class="lead-stage-header">
                    <h4>In Contact <small>{{inContact.length}} Leads</small></h4>
                </div>
                <div class="caption">
                    <div class="lead" ng-repeat="item in inContact" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="inContact" jqyoui-draggable="{index: {{$index}},animate:true}">
                        <div class="lead-header">
                            <h5>{{item.title}}</h5>
                            <span class="lead-store"><i class="fa fa-map-marker"></i> {{item.store}}</span>
                        </div>
                        <div class="clearfix lead-footer">
                            <a class="lead-btn pull-left" href="" ng-click="editActionPlan(item.id)"><i class="fa fa-dot-circle-o"></i></a>
                            <span class="lead-age pull-right">{{item.ellapsed}} days ago</span>
                        </div>
                    </div>
                </div>
            </div>
      
                  
            <div class="lead-stage qouted" data-drop="true" ng-model='qouted' jqyoui-droppable="{multiple:true}">
                <div class="lead-stage-header">
                    <h4>Qouted <small>{{qouted.length}} Leads</small></h4>
                </div>
                <div class="caption">
                    <div class="lead" ng-repeat="item in qouted" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="qouted" jqyoui-draggable="{index: {{$index}},animate:true}">
                        <div class="lead-header">
                            <h5>{{item.title}}</h5>
                            <span class="lead-store"><i class="fa fa-map-marker"></i> {{item.store}}</span>
                        </div>
                        <div class="clearfix lead-footer">
                            <a class="lead-btn pull-left" href="" ng-click="editActionPlan(item.id)"><i class="fa fa-dot-circle-o"></i></a>
                            <span class="lead-age pull-right">{{item.ellapsed}} days ago</span>
                        </div>
                    </div>
                </div>
            </div>
        
                   
            <div class="lead-stage closed" data-drop="true" ng-model='closed' jqyoui-droppable="{multiple:true, onDrop:'closeLead'}">
                <div class="lead-stage-header">
                    <h4>Closed <small>{{closed.length}} Leads</small></h4>
                </div>
                <div class="caption">
                    <div class="lead" ng-repeat="item in closed" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="closed" jqyoui-draggable="{index: {{$index}},animate:true}">
                        <div class="lead-header">
                            <h5>{{item.title}}</h5>
                            <span class="lead-store"><i class="fa fa-map-marker"></i> {{item.store}}</span>
                        </div>
                        <div class="clearfix lead-footer">
                            <a class="lead-btn pull-left" href="" ng-click="editActionPlan(item.id)"><i class="fa fa-dot-circle-o"></i></a>
                            <span class="lead-resolution pull-left" ng-class="{'ticketed': item.resolution == 'ticketed', 'won': item.resolution == 'won'}">{{item.resolution}}</span>

                            <span class="lead-age pull-right">{{item.ellapsed}} days</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="!showForm && tableView">
        <div class="leads-table clearfix" ng-controller="WithColReorderCtrl as showCase">
            <table class="table table-bordered" datatable="ng" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns">
                <thead>
                    <tr>
                        <th>Lead ID</th>
                        <th>Title</th>
                        <th>Sales Representative</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Company</th>
                        <th>Store</th>
                        <th>Associate</th>
                        <th>Sales ID</th>
                        <th>Date Created</th>
                        <th>Assigned to</th>
                        <th>Stage</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in actionPlans">
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.salesRep}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.company}}</td>
                        <td>{{item.store}}</td>
                        <td>{{item.assoc}}</td>
                        <td>{{item.salesID}}</td>
                        <td>{{item.dateCreated}}</td>
                        <td>{{item.assignee}}</td>
                        <td>{{item.status}}</td>
                        <td class="center" ng-click="editActionPlan(item.id)"><i class="fa fa-pencil"></i></td>
                    </tr>
                </tbody>
              </table>

            <!-- <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover"></table> -->
        </div>
    </div>

    <div ng-show="showForm" ng-include="'app2/dashboard/view/action-plan-form.html'"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="closeLead" tabindex="-1" role="dialog" aria-labelledby="closeLead">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body center">
            <h3>Deal closed</h3>
            <div>
                <p>Enter the ticket number</p>
                <input class="form-control"></input>
            </div>

            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Ticketed</button>
            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Lost</button>
        </div>

    </div>
  </div>
</div>