<div class="panel-header" ng-controller="mainController as vm">
    <div class="container">
        <div class="panel-title">
            <h3>Reports</h3>
        </div>

        <div class="panel-actions">
            <input date-range-picker class="form-control date-picker" type="text" ng-model="date" options="options"/>
        </div>
    </div>
</div>

<div class="panel clearfix container">
    <div class="clearfix" reports>
        <div class="col-lg-2 filters">
            <h5>STAGES</h5>
            <label><input type="checkbox" class="stages" value="1" id="openLeads" checked="true"> Open</label>
            <label><input type="checkbox" class="stages" value="2" id="assignedLeads" checked="true"> Assigned</label>
            <label><input type="checkbox" class="stages" value="3" id="inContactLeads" checked="true"> In Contact</label>
            <label><input type="checkbox" class="stages" value="4" id="qoutedLeads" checked="true"> Qouted</label>
            <label><input type="checkbox" class="stages" value="5" id="closedLeads" checked="true"> Closed</label>
            <br />
            <h5>RESOLUTION</h5>
            <label><input type="checkbox" class="resolutions" value="1" id="ticketedLeads"> Ticketed</label>
            <label><input type="checkbox" class="resolutions" value="2" id="lostLeads"> Lost</label>
        </div>

        <div class="col-lg-10 charts-container">
            <div class="reports">
                <div class="report-label">
                    <h4 class="kpi">How many leads were deactivated?</h4>
                    <button class="btn btn-default btn-sm pull-right"><i class="fa fa-download"></i> Export</button>
                    <div>
                        <ul class="nav nav-pills">
                            <li ng-class="{ active: isSet(1) }">
                                <a href ng-click="setTab(1)" id="byUser">By Users</a>
                            </li>
                            <li ng-class="{ active: isSet(2) }">
                                <a href ng-click="setTab(2)" id="byRegion">By Region</a>
                            </li>
                            <li ng-class="{ active: isSet(3) }">
                                <a href ng-click="setTab(3)" id="byDistrict">By District</a>
                            </li>
                            <li ng-class="{ active: isSet(4) }">
                                <a href ng-click="setTab(4)" id="byStore">By Store</a>
                            </li>
                        </ul>
                    </div>
                    <div class="report-tabs">
                        <div ng-show="isSet(1)" class="tab">
                            <div class="btn-group countValue" role="group" aria-label="...">
                                <button type="button" class="btn btn-default btn-sm">Count</button>
                                <button type="button" class="btn btn-default btn-sm active">Value</button>
                            </div>
                            <select class="btn btn-default btn-sm">
                                <option>All</option>
                                <option>John</option>
                                <option>Maria</option>
                                <option>Vincent</option>
                                <option>Alex</option>
                                <option>Mark</option>
                            </select>
                        </div>
                        <div ng-show="isSet(2)" class="tab">
                            <div class="btn-group countValue" role="group" aria-label="...">
                                <button type="button" class="btn btn-default btn-sm">Count</button>
                                <button type="button" class="btn btn-default btn-sm active">Value</button>
                            </div>
                            <select class="btn btn-default btn-sm">
                                <option>All</option>
                                <option>Central</option>
                                <option>East</option>
                                <option>West</option>
                            </select>
                        </div>
                        <div ng-show="isSet(3)" class="tab">
                             <div class="btn-group countValue" role="group" aria-label="...">
                                <button type="button" class="btn btn-default btn-sm">Count</button>
                                <button type="button" class="btn btn-default btn-sm active">Value</button>
                            </div>
                            <select class="btn btn-default btn-sm">
                                <option>All</option>
                                <option>District 1</option>
                                <option>District 2</option>
                                <option>District 3</option>
                            </select>
                        </div>
                        <div ng-show="isSet(4)" class="tab">
                            <div class="btn-group countValue" role="group" aria-label="...">
                                <button type="button" class="btn btn-default btn-sm">Count</button>
                                <button type="button" class="btn btn-default btn-sm active">Value</button>
                            </div>
                            <select class="btn btn-default btn-sm">
                                <option>All</option>
                                <option>124 Bakersfield</option>
                                <option>442 Houston</option>
                                <option>910 GC PRO Bulk</option>
                            </select>
                        </div>

                        <div id="userChart" class="chart"></div>
                        <div id="resolutionChart" class="chart"></div>
                    </div>
                </div>
            </div>
            <div class="report-table clearfix">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Lead ID</th>
                            <th>Sales Representative</th>
                            <th>Store</th>
                            <th>Associate</th>
                            <th>Assigned to</th>
                            <th>Stage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in actionPlans">
                            <td>{{item.id}}</td>
                            <td>{{item.salesRep}}</td>
                            <td>{{item.store}}</td>
                            <td>{{item.assoc}}</td>
                            <td>{{item.assignee}}</td>
                            <td>{{item.status}}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

<style>
    .charts-container{
        margin-top: 15px;
        padding: 15px 25px;
        border-radius: 3px;
        background: #fff;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    }

    .filters{
        height: 450px;
        padding-left: 0;
        padding-top: 10px;
    }

    .filters label{
        display: block;
        font-weight: 500;
    }

    .filters h5{
        margin-top: 15px;
        color: #bbb;
    }

    .nav-pills{
        border-bottom: 1px solid #eee;
    }

    .nav-pills>li>a{
        border-radius: 0;
        padding: 10px 0;
        margin-right: 25px;
        font-size: 13px;
        color: #999;
    }

    .nav-pills>li.active>a, .nav-pills>li.active>a:focus{
        background-color: transparent;
        color: #333 !important;
        font-weight: bold !important;
        border-bottom: 2px solid #ec1b23;
        padding: 10px 0;
    }

    .nav-pills>li.active>a:hover{
        background-color: transparent !important;
        font-weight: normal;
    }

    .report-tabs .tab{
        padding-top: 10px;
        min-height: 30px;
    }

    .report-tabs .tab .btn{
        position: relative;
        z-index: 99;
    }

    .chart{
        margin-top: -30px;
        min-height: 350px;
    }

    .countValue{
        display: none;
        margin-right: 5px;
        float: left;  
    }
</style>